
/* Global Styles */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
    position: relative;
}

/*=========== Hero Section ===========*/

.hero {
    position: relative;
    height: 550px;
    overflow: hidden;
    color: #fff;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assert/blog.avif') no-repeat center center;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 94, 62, 0.7);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    width: 50%;
    margin: 60px auto;
    color: var(--white);
    text-align: center;
    padding: 50px 20px;
}


.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}

/* Section Styles */
.content {
    max-width: 600px;
    margin-left: 40px;
}

.content h2 {
    margin-bottom: 20px;
}

.content p, .content ul {
    line-height: 1.6;
}

.content ul {
    list-style: disc;
    padding-left: 20px;
}

/* Slide Animations */
.slide-left {
    animation: slide-left 1s ease-out;
}

.slide-right {
    animation: slide-right 1s ease-out;
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .content {
        margin: 20px 0;
        text-align: left;
    }

    .slide-left, .slide-right {
        animation: none;
    }
}
