@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

:root {
  --header-height: 50px;

  /* ==========color=========== */
  --first-color: #115e3e;
  --first-color-light: #4c4c4c;
  --first-color-lighter: #6d6e76;
  --second-color: #4c4c4c;
  --label-color: #bf3437;
  --button-color-light: #fbf6ea;
  --body-color-gray: #f4f4f4;
  --body-color: #f4f0f8;
  --tag-color: #592ea9;
  --white: #ffffff;
  --black: #000000;

  /* ======fonts and typography====== */
  --biggest-font-size: 56px;
  --h1-font-size: 48px;
  --h2-font-size: 40px;
  --h3-font-size: 26px;
  --h4-font-size: 24px;
  --h5-font-size: 20px;
  --btn-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  /* ======Font weight    ====== */
  --font-bold: 700;
  --font-tag: 600;
  --font-label: 500;
  --font-regular: 400;
  /* ======Padding====== */
  --res-padding: 0px 20px;
  --res-padding-header: 0px 10px;
  --res-margin: 40px 0px;
  --body-padding: 20px 30px;
  --res-body-padding: 20px 20px;
  --btn-padding: 16px 48px;
  --res-btn-padding: 10px 30px;
  /* =====Line Height====== */
  --biggest-line-height: 68px;
  --h1-line-height: 54px;
  --h2-line-height: 48px;
  --h3-line-height: 40px;
  --h4-line-height: 32px;
  --h6-line-height: 24px;
  --normalBody-line-height: 28px;
  --smallBody-line-height: 20px;

  /* =======scroll===== */
  --img-width: 250px;
    --img-count: 9; 
    --duration: 20s;
}

/* =================BASE==================== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt"0;
  color: var(--black);
  font-weight: var(--font-regular);
  min-height: 100vh;
  line-height: var(--normalBody-line-height);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: var(--font-bold);
  display: inline-block;
  color: black;
}

a:hover {
    text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  word-spacing: -2;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: -1px;
  text-align: left;
}

.hero-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: var(--smallBody-line-height);
  font-weight: var(--font-tag);
  letter-spacing: 2px;
}

a.button {
  background-color: var(--first-color);
  padding: var(--btn-padding);
  color: var(--white);
  font-weight: var(--font-bold);
  border-radius: 10px;
  display: inline-block;
}

.hero-btn{
  background-color: var(--white) !important;
  color: #005700 !important;
}

.body-label {
  color: var(--first-color);
  font-size: var(--small-font-size);
}

.hero-label {
  color: var(--button-color);
  font-size: var(--small-font-size);
}

.flex {
  display: flex;
}

/* =================HEADER=========================== */
.header {
  background-color: var(--white);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  padding: 10px 15px;
}

.nav-logo-image {
  object-position: center;
  object-fit: contain;
  width: 180px;
}

.main-nav .nav-logo-image {
    margin-left: -20px;
  }
nav li {
  height: var(--header-height);
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  color: var(--black);
  display: flex;
  align-items: center;
}

nav a:hover {
  color: var(--first-color);
}

nav li:first-child {
  margin-right: auto;
}

.nav-button {
  background-color: var(--first-color);
  color: var(--white);
  font: var(--header-font);
  font-size: var(--btn-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--first-color);
  transition: background-color 0.3s ease, transform 0.9s ease;
}

.nav-button:hover {
  background-color: var(--white) !important;
  color: var(--first-color) !important;
  transform: scale(1.05);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--first-color);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

.none {
  display: none;
}


/* ============Testimonials-Section============= */

.testimonial-box {
  margin-top: 50px;
  background-image: url(./assert/testi-bg.jpg);
  padding: 30px;
}

.testimonial-section {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.testimonial-text {
  text-align: center;
  width: 50%;
  margin: auto;
}

.testimonial-text h3 {
  text-align: center;
}
.testimonial-text h2 {
  margin-bottom: 10px;
  color: var(--first-color);
}

.testimonial-slider {
  width: 70%;
  margin: auto;
  display: none;
  transition: all 0.9s ease;
}

.testimonial-slider.active {
  display: block;
}

.testimonial-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 70px;
}

.testimonial-slider p {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  margin-top: 5px;
}

.testimonial-author span {
  font-weight: bold;
  color: #555;
  font-size: var(--small-font-size);
}

.testimonial-author h3 {
  text-align: center;
  color: var(--black);
}

.star-rating {
  color: var(--label-color);
  font-size: 1.5em;
  margin-top: 30px;
}

.dash {
  margin-top: 20px;
}

.image-thumbnails {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.image-thumbnails img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.image-thumbnails img:hover {
  transform: scale(1.1);
}

.image-thumbnails img.active {
  border: 5px solid var(--first-color);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  width: 50px;
  height: 50px;
  color: var(--white);
  cursor: pointer;
  padding: 10px;

  border-radius: 50%;
}

.arrow.left {
  left: -100px;
  background-color: #c7bfbf;
}

.arrow.right {
  right: -100px;
  background-color: var(--first-color);

}

/* =============Join-Team-Section============ */

.join-team-section {
  margin-top: 30px;
}

.join-team-box {
   text-align: center;
  margin: auto;
  width: 45%;
  padding: var(--body-padding);
}

.join-team-box * {
  margin-top: 25px;
}

.join-team-box h2{
  color: var(--first-color);
}

.join-team-box p{
  color: rgb(80, 78, 78);
}
.join-team-box a{
  margin-top: 30px;
}

/* ==============Sroll================ */
.slider img {
  width: 250px;
  height: 150px;
  padding: 25px;
  object-fit: fill;

}
.slider-container {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    position: relative;
    /* background-color: #115e3e; */
    border-radius: 5px;
}

.slider {
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translateX(0);
    will-change: transform;
}

.slider img {
    width: var(--img-width);
    height: 150px;
    object-fit: fill;
    padding: 25px;
    border-radius: 50px !important;
}

.featured-section p {
  font-weight: bold;
}

.featured-section h2 {
  color: var(--first-color);
}

/*=============Footer-Section============ */
.footer-section {
  margin-top: 50px;
}

footer {
  background-color: var(--first-color);
  padding: 40px;
}

.footer a{
  color: var(--white);
}

footer .inbox,
footer .address {
  margin-top:  40px;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.footer-nav a:not([class]) {
  padding: 15px 35px;
  display: flex;
  align-items: center;
  font-weight: lighter;
}

.inbox {
  display: flex;
  align-items: center;
  padding: 50px 60px;
  gap: 5rem;
  border-radius: 10px;
  background-color: rgb(16, 36, 28);
}

footer h3 {
  color: #b1adad;
  font-size: 32px;
}

.inbox .text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}

.text input {
  padding: 16px 120px 16px 16px;
  background-color: rgb(58, 51, 51);
  border: 1px solid var();
  border-radius: 10px;
  font-size: 14px;
  color: white;
}

.text ::placeholder {
  color: white;
}

.inbox a {
  background-color: var(--white);
  color: var(--black);
  padding: var(--res-btn-padding);
  font-weight: var(--font-bold);
}

.address {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--white);
  font-weight: lighter;
}

.address :first-child {
  margin-right: auto;
}

.address a {
  font-weight: lighter !important;
}

.address .flex {
  gap: 15px;
}

/* =================Media Queries======================== */
@media (max-width: 450px) {
  h2 {
    font-size: 26px !important;
    line-height: var(--h4-line-height) !important;
  }

  h3 {
    font-size: 20px !important;
    line-height: 30px;
  }

  h4 {
    font-size: 18px !important;
  }


  a.button {
    padding: var(--res-btn-padding);
  }

  /* ==========Header============= */

  .sidebar li a:not([class]) {
    color: var(--white);
  }

  .menu-button {
    display: block;
    color: var(--first-color);
  }

  .main-nav .nav-logo-image {
    margin-left: -30px;
  }

  .nav-button {
    background-color: var(--white);
    color: var(--first-color);
  }
  


  .nav-close a {
    padding: 0px;
    color: var(--white);
  }
   /* ============Testimonials-Section============= */
  .testimonial-box {
    margin-top: 5rem !important;
    width: 100%;
    display: block;
    padding-top: 25px;
  }

  .testimonial-section {
    width: 100%;
  }

  .testimonial-text {
    width: 100% !important;
  }

  .testimonial-text h3 {
    margin-bottom: 8px !important;
  }

  .testimonial-slider {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .testimonial-slider p {
    margin-top: -30px;
    width: 100%;
  }

  .star-rating {
    margin-top: 20px;
  }

  .image-thumbnails img {
    width: 80px;
    height: 80px;
    margin-top: -15px !important;
  }

  .arrow {
    display: none;
  }

  .testimonial-author span {
    font-size: 14px;
  }

 /* ==========Featured Section============= */
  .featured-section .flex {
    justify-content: space-between;
    align-items: center;
  }

  .featured-section img {
    padding: 20px;
  }
   .featured-section .flex {
    display: block !important;
  }
/* =============Join-Team-Section============ */
.join-team-box {
  margin-top:-30px;
  width:100%;
  padding: var(--res-body-padding);
}
  /*=============Footer-Section============ */
  footer{
    padding: 10px;
  }
  footer .inbox,
  footer .address {
    margin-top: 25px;
  }

  .inbox h2 {
    font-size: var(--h5-font-size) !important;
    line-height: var(--h5-line-height);
  }

  .inbox {
    padding: 20px 20px !important;
    gap: 5rem;
    background-color: #303040;
  }

  .text * {
    margin-top: 20px;
  }

  .inbox,
  .text {
    display: block !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .text input {
    padding: 10px !important;
  }

  .inbox a {
    padding: 10px 30px !important;
  }

  .hideOnMobile {
    display: none;
  }

  .address, .address .flex {
    display: block !important;
    font-weight: light !important;
  }

  .address .flex *{
    margin-left: 10px;
  }

  .address * {
    margin-top: 15px !important;
    font-weight: light !important;
    font-size:14px;
  }

  address {
    font-weight: lighter !important;
  }

  
}

/* ===============Max-Width: 800px================== */

@media (min-width: 451px) and (max-width: 800px) {

  a.button {
    padding: var(--res-btn-padding);
  }

  br {
    display: none;
  }

  .menu-button {
    display: block;
    color: var(--first-color);
  }

  .sidebar li a:not([class]) {
    color: var(--white);
  }

  .nav-button {
    background-color: var(--white);
    color: var(--first-color);
  }


  .nav-close a {
    padding: 0px;
    color: var(--white);
  }

  .main-nav .nav-logo-image {
    margin-left: -30px;
  }
   /* ==========Testimonials-Section=============== */

    .testimonial-section{
      width: 100%;
    }

    .testimonial-text h3 {
       line-height: var(--h4-line-height);
    }

    .testimonial-slider {
        padding: 15px;
    }
.testimonial-slider p{
  width: 80%;
  margin: auto;
}
    .testimonial-text{
      width: 100%;
    }
    .star-rating {
        font-size: 20px;
    }
.image-thumbnails img{
  margin-top: -10px !important;
  margin-bottom: -30px !important;
}
    .image-thumbnails .none{
      display: block;
    }
    .arrow.left {
  left: -20px;
}

.arrow.right {
  right: -20px;
  background-color: var(--first-color);

}

 /* ==========Featured Section============= */
  .featured-section .flex {
    display: block;
  }

  .featured-section div:not([class]) {
    margin-bottom: 30px;
  }

  .featured-section .logos {
    padding: var(--body-padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }

  .excape,
  .logos .none {
    display: block;
  }

  /* =============Join-Team-Section============ */
.join-team-box {
  margin: auto;
  width: 85%;
  padding: var(--res-body-padding);
}
  
  /*=============Footer-Section============ */
  footer .inbox,
  footer .address {
    margin-top: 25px;
  }

  .inbox h2 {
    font-size: var(--h5-font-size) !important;
    line-height: var(--h5-line-height);
  }

  .inbox,
  .text {
    display: block !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .inbox {
    padding: 30px 30px !important;
    gap: 5rem;
    background-color: #303040;
  }

  .text * {
    margin-top: 30px;
  }

  .text input {
    padding: var(--res-btn-padding);
  }

  .inbox a {
    padding: var(--res-btn-padding) !important;
  }

  .hideOnMobile {
    display: none;
  }

  .address,
  .address .flex {
    display: block;
    font-weight: light !important;
  }

  .address .flex *{
    margin-left: 10px;
  }
  .address * {
    margin-top: 5px;
    font-weight: light !important;
    font-size: 14px;
  }

  address {
    font-weight: lighter !important;
  }

  
}

@media (min-width: 801px) and (max-width: 1024px) {
  h3 {
    font-size: 20px !important;
    line-height: 32px;
  }

  .sidebar, .inner-style {
    display: none !important;
  }
  
  .hide{
    display: none;
  }
  nav a {
    padding: 0 20px;
  }

  .main-nav .nav-logo-image {
    margin-left: -30px;
  }

   /* ==========Featured Section============= */
   
  .featured-section .flex {
    display: block;
  }

  .featured-section div:not([class]) {
    margin-bottom: 30px;
  }

  .featured-section .logos {
    padding: var(--body-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
  }

  .none,
  .excape {
    display: block;
  }

   /* ===========Testimonials-Section========== */
.testimonial-section{
  width: 85%;
  margin: 30px auto;
  text-align: center;
}

.testimonial-text {
  width: 100% !important;
   margin:0 !important;
}
  .testimonial-text h3 {
    font-size: var(--h3-font-size) !important;
  }

  .testimonial-slider{
    width: 100%;
  }
  .arrow.left {
  left: -80px;
}

.arrow.right {
  right: -80px;
}
/* =============Join-Team-Section============ */
.join-team-box {
  width: 70%;
  padding: var(--body-padding);
}
 
  /* =========Footer-Section=========== */
  .inbox h2 {
    font-size: var(--h5-font-size);
    line-height: var(--h4-line-height);
  }

  .footer-nav a:not([class]) {
    padding: 15px 20px;
  }

  .inbox {
    padding: 30px 20px;
    gap: 3rem;
  }

  .text input {
    padding: 10px 90px 10px 10px;
  }

  .inbox a {
    padding: var(--res-btn-padding);
  }
}

@media (min-width: 1025px) and (max-width: 1334px) {
  .sidebar {
    display: none !important;
  }

  .inbox {
    padding: 30px 50px;
    gap: 3rem;
  }
   /* ==========Featured Section============= */
    .featured-section .logos * {
    padding: var(--body-padding);
  }
  /* =============Join-Team-Section============ */
.join-team-box {
  width: 70%;
}
}